{% extends 'appCV/_base.html' %}
{% load static %}

{% block title %}
    languages
{% endblock %}

{% block active_languages %}
    active
{% endblock %}

{% block content %}

    <section id="languages" class="languages">
      <div class="container">

        <div class="section-title">
          <h2>Languages</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.
          </p>
        </div>

        <div class="row">

          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>English</h3>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.
            </p>
          </div>

          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Persian</h3>
            <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->
{% endblock %}