{% extends 'appCV/_base.html' %}
{% load static %}

{% block title %}
    resume
{% endblock %}

{% block active_resume %}
    active
{% endblock %}

{% block content %}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>You may know me better with:</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Mohamad TP</h4>
              <p><em>
                  Bachelor of computer engineering, junior developer with passion for learning and working,
                  interested in web development programming and network.
              </em></p>
                <p><em>
                  Bachelor of computer engineering, junior developer with passion for learning and working,
                  interested in web development programming and network.
              </em></p>
                <p><em>
                  Bachelor of computer engineering, junior developer with passion for learning and working,
                  interested in web development programming and network.
              </em></p>
            </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Computer Engineering majoring in Robotics</h4>
              <h5>2017 - 2021</h5>
              <p><em>Islamic Azad University Central Tehran Branch</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
{% endblock %}